html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    background-color: white;;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.thumbnail {
    width: 100px;
    height: 100px;
}

.upload {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 32px;
    border: dotted 1px black;
    box-sizing: border-box;
}

.form {
    background-color: white;
    width: 80vw;
    max-width: 400px;
    margin: 32px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons {
    text-align: right;
}

.template-image {
    visibility: hidden;
    height: 0;
    width: 0;
}

#generated-image {
    width: 100%;
    max-height: 400px;
    overflow: scroll;
}